@model IEnumerable<InfoSystem_Drivers_U3.Models.Event>

<h2>Notifieringar - Senaste Händelser</h2>

<table class="table">
    <tr>
        <th>Förare</th>
        <th>Datum</th>
        <th>Beskrivning</th>
        <th>Belopp In</th>
        <th>Belopp Ut</th>
    </tr>
    @foreach (var eventItem in Model)
    {
        <tr>
            <td>@eventItem.Driver.DriverName</td>
            <td>@eventItem.NoteDate.ToString("yyyy-MM-dd HH:mm")</td>
            <td>@eventItem.NoteDescription</td>
            <td>@eventItem.BeloppIn</td>
            <td>@eventItem.BeloppUt</td>
        </tr>
    }
</table>


<div class="mt-3">
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="Employee" asp-action="AdminOverview" class="btn btn-secondary">Tillbaka till Admin Översikt</a>
    }
    else if (User.IsInRole("Employee"))
    {
        <a asp-controller="Employee" asp-action="DriverOverview" class="btn btn-secondary">Tillbaka till Employee Översikt</a>
    }
</div>